doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 Navigation 
    a#nav-link(href="/") Home
    a#nav-link(href="/patterns") Sewing Patterns
    a#nav-link(href="/projects") Sewing Projects
    block content
